<extend name="Public:baseSave" />
<block name="content">
<form method="post" action="{:U('Type/save')}" enctype="multipart/form-data" >
    <table cellspacing="1" cellpadding="3" width="100%">
        <tr>
            <td class="label">名称</td>
            <td>
                <input type="text" name="name" maxlength="60" value="{$name}" />
                <span class="require-field">*</span>
            </td>
        </tr>
        <tr>
            <td class="label">是否显示</td>
            <td>
                <input type="radio" name="status" value="1" {$status ? 'checked="checked"' : ''}  /> 是
                <input type="radio" name="status" value="0" {$status ? '' : 'checked="checked"'} /> 否
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center"><br />
                <input type="hidden" name="id" value="{$id}">
                <input type="submit" class="button" value=" 确定 " />
                <input type="reset" class="button" value=" 重置 " />
            </td>
        </tr>
    </table>
</form>
</block>
