body, html {
    min-height: 100%;
    width: 100%;
}

.wrapper {
    max-width: 750px;
    margin: 0 auto;
    height: 100%;
    box-shadow: 0px 0px 30px #888888;
}

header {
    padding-bottom: 10px 0;
    border-bottom: 2px dotted #00000026;
}

header .bg {
    height: 150px;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center center;
}

header h3 {
    text-align: center;
    font-weight: 100;
    color: #3aa4dc;
}

header h6,
header p {
    padding: 0 8px;
}

header h6 {
    font-size: 14px;
}

header p {
    text-indent: 2em;
}

.content {
    padding: 0 8px;
}



.content .classify .question {
    margin: 10px 0;
}

label span {
    color: #8f8f94;
    font-size: 14px;
}

.title {
    color: red;
    font-weight: 100;
    font-size: 14px;
    margin: 6px 0;
}

.title2 {
    text-align: center;
    text-indent: 0;
}