<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__ADMIN_CSS__/general.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN_CSS__/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__ADMIN_JS__/jquery_002.js"></script>
</head>
<body style="background: #278296;color:white">
<form method="post" action="{:U('Login/validate')}">
    <table cellspacing="0" cellpadding="0" style="margin-top:100px" align="center">
        <tr>
            <td>
                <img src="__ADMIN_IMG__/login.png" width="178" height="256" border="0" alt="ECSHOP" />
            </td>
            <td style="padding-left: 50px">
                <table>
                    <tr>
                        <td>管理员姓名：</td>
                        <td>
                            <input type="text" name="name" id="name"/><span id="name_msg"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>管理员密码：</td>
                        <td>
                            <input type="password" name="password" id="password"/><span id="password_msg"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>验证码：</td>
                        <td>
                            <input type="text" name="captcha" class="capital" /><span id="capital_msg"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">
                            <img src="{:U('verify/index')}" name="captcha" onclick="javascript:this.src='{:U("verify/index")}'"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <input type="checkbox" value="1" name="remember" id="remember" />
                            <label for="remember">请保存我这次的登录信息。</label>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input type="button" value="进入管理中心" class="button" />
                            <input type="submit" value="提交"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
  <input type="hidden" name="act" value="signin" />
</form>
<script type="text/javascript">
    $(function () {
        //点击管理中心
        $(".button").click(function () {
             // $username = $("#username").val();//用户名
             // $password = $("#password").val();//密码
            //发送异步请求
            $.ajax({
                type : "post",
                url  : "{:U('Login/validate')}",
                data : $('form').serialize(),
                dataType: "json",
                success: function (data) {
                        console.log(data);
                    $("#name_msg").text("");
                    $("#password_msg").text("");
                    $("#capital_msg").text("");

                    if(data.status == -1){
                        $("#name_msg").text(data.msg);//用户名错误
                    }else if(data.status == -2){
                        $("#password_msg").text(data.msg);//密码错误
                    }else if(data.status == -3){
                        $("#capital_msg").text(data.msg);//验证码错误
                    }
                    else{
                        location.href = data.url;
                    }
                }
            });
        });
    })


</script>

</body>